NEXT_PUBLIC_SUPABASE_URL=https://udfzyomycukvdfwbmgch.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_0nRjTnEfhvXaJ2eZSyxSaw_nsKbaEb2
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkZnp5b215Y3VrdmRmd2JtZ2NoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg4ODcxNzEsImV4cCI6MjEwNDQ2MzE3MX0.3Se-tQrX1Beh_TzWvsrBbtW0x8zoD-XzqGbm0PwItYQ
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVkZnp5b215Y3VrdmRmd2JtZ2NoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4ODg4NzE3MSwiZXhwIjoyMTA0NDYzMTcxfQ.11JTRLXSpeyzm6MA2n3FNSfTrz-_C8LH1TWmESJA7Z4
UPSTASH_REDIS_REST_URL="https://absolute-bullfrog-86680.upstash.io"
UPSTASH_REDIS_REST_TOKEN="gQAAAAAAAVKYAAIgcDI4ZjMwYzZhZDA3ZGU0OWUzOTUyMTI2ZDgxOWQzOGI3MA"
